


<template name="home">
	<div class="container-fluid home-slider-container" style="background-color: #00bba6;">
		<div class="container">
			<div class="jumbotron">
					<h1 class="jumbo-heading">SPARQL<span style="color:white; font-weight: normal;">Graph</span></h1>
			        <h3 class="jumbo-subheading">Visual Query Builder for Biological RDF Databases</h3>
			</div>

			<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
			  <div class="span4">
				<h1 style="color:#fafafa; font-size: 80px; line-height: 140px; font-weight: 300;border-right: 1px solid #fafafa;">Use Case</h1>
			  </div>
 				<div class="span8">
	        		<h2 style="text-align:center;color:#fff; font-weight: normal;padding-top:25px;">“Which protein targets of the sunitinib drug are upregulated and which pathways are they involved in?”</h2>
 				</div>
			</div>
	        <div class="flexslider">
	          <ul class="slides">
	  	    		<li style="text-align:center;">
			        	<h1 style="padding:20px 0px;">Create a SPARQL query visually</h1>
	  	    	    	<img src="images/slide2_a.jpg" />
	  	    		</li>
	          </ul>
	        </div>
		</div>
	</div>
	<div class="container home-feature-container">
		<br>
		<div class="row">
	        <div class="span4">
	          <i class="fa fa-sitemap" style="font-size:120px;"></i>
	          <h2>Graph Query Builder</h2>
	          <p>SPARQLGraph offers an intuitive <strong>drag & drop query builder</strong> which converts the visual graph into a SPARQL query.</p>
	        </div><!-- /.span4 -->
	        <div class="span4">
	          <i class="fa fa-star" style="font-size:120px;"></i>
	          <h2>Template Queries</h2>
	          <p>SPARQLGraph offers several <strong>predefined template queries</strong> and allows users to create new query graphs which can be shared with other researchers.</p>
	        </div><!-- /.span4 -->
	        <div class="span4">
	          <i class="fa fa-group" style="font-size:120px;"></i>
	          <h2>Databases</h2>
	          <p>Currently 4 databases by <a href="http://www.ebi.ac.uk/rdf/services">EBI</a> and 4 databases by the <a href="http://download.bio2rdf.org/release/2/release.html">Bio2RDF</a> project are supported.</p>
	        </div><!-- /.span4 -->	
      	</div> <!-- close row -->
    </div>
</template>